@font-face {
    font-family: 'Proxima-Nova-Bold-Italic'; 
    src: url('/proxima-nova-2/Proxima-Nova-Bold-Italic.otf') format('opentype');
  }
  
  @font-face {
    font-family: 'Proxima-Nova-Bold';
    src: url('/proxima-nova-2/Proxima-Nova-Bold.otf') format('opentype');
    font-weight: 700;
  }
  
  @font-face {
    font-family: 'Proxima-Nova-Regular';
    src: url('/proxima-nova-2/Proxima-Nova-Regular.otf') format('opentype');
  }
  
    @font-face {
      font-family: 'Proxima-Nova-Thin';
      src: url('/proxima-nova-2/Proxima-Nova-Thin.otf') format('opentype');
    }
  
  @font-face {
    font-family: 'Proxima-Nova-Semibold';
    src: url('/proxima-nova-2/Proxima-Nova-Semibold.otf') format('opentype');
  }
  
  @font-face {
    font-family: 'Proxima-Nova-Semibold-Italic';
    src: url('/proxima-nova-2/Proxima-Nova-Semibold-Italic.otf') format('opentype');
  }
  
  @font-face {
    font-family: 'Proxima-Nova-Regular-Italic';
    src: url('/proxima-nova-2/Proxima-Nova-Regular-Italic.otf') format('opentype');
  }
  
  @font-face {
    font-family: 'Proxima-Nova-Light';
    src: url('/proxima-nova-2/Proxima-Nova-Light.otf') format('opentype');
  }
  
  @font-face {
    font-family: 'Proxima-Nova-Light-Italic';
    src: url('/proxima-nova-2/Proxima-Nova-Light-Italic.otf') format('opentype');
  }

  @font-face {
    font-family: 'Proxima-Nova-ExtraBold';
    src: url('/proxima-nova-2/Proxima-Nova-Extrabold.otf') format('opentype');
  }